body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

#myButton {
  font-size: 3em;
  padding: 10px 15px;
  border-radius: 10px;
}

#myLabel {
  font-size: 3em;
}